<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to my webpage</title>
</head>
<body>
    <h1>Scraping Competitor Information Web Application</h1>
  <hr>
    <p>This application scrapes competitor news from Google News and evaluates the weighted grade.</p>
  <br>
    <p style="font-size: 16px; font-weight: bold;">Please input a vehicle manufacturer's name, such as: Cummins, John Deere, Daimler ...</p>
    <form action="/user" method="POST">
        <input name="user_input">
        <input type="submit" value="Submit!" style="font-weight: bold;">
    </form>
    <p>{{msg}}</p>
</body>
</html>